.Header search-name {
  border: none;
}

.Search {
  color: #007cb9;
}

.Live{
    color:red;
    font-size: 5px;
}

.now {
  color: rgba(37, 89, 141, 0.46);
}

.clearweather{
  padding-bottom: 40px;
  padding-top: 40px;
  
}
.temperature{
    font-size: 70px;
    font-weight: bold;
    color: #005689;
}
.weathericon{
  padding-top:20px;
}

.weatherinfo-rightside {
  color: rgba(37, 89, 141, 0.46);
  padding-top:20px;
  padding-right:10px;
}
.unit{
    position: relative;
    top:-18px;
    color: #005689;
}

h1 {
  font-family: "Poppins", sans-serif;
  color: #005689;
  font-size: 48px;
  padding-top: 20px;
}
ul {
  list-style-type: none;
  margin: 0;
}

.daytime{
  margin-top:40px;
  color: #005689;
}